<h1>We are Prius Immediate Care</h1>

<div class="patient-card">

	<h2>Our Mission</h2>

	<h4>
		A revolution in the healthcare industry…
	</h4>

	<p>
  		We want to deliver exceptional health care experience by building a system where people have flexible options and are inspired to lead a better life, therefore happier and more productive…
  	</p>
  	<p>
		If You are not feeling well, your child is sick, you can’t leave work or can’t take the day off to go to a physicians' office, don’t like long waiting, humiliation and unexpected costs at the ER, don’t understand payment requests for uncovered insurance claims, have high insurance deductibles…
	</p>

	<p>
		Prius Immediate Care offers: Board certified Physicians & Nurses, large variety of health care services (basic – to – complex), state of the art equipment and facility, friendly and respectful, affordable: No hidden fees!! Upfront and transparent service charges, lower cost and shorter wait times, convenient, friendly hours of operation, easily accessible, accepts flexible payment methods, most health insurance plans accepted, Pharmacy on premises, parking available...
	</p>

	<h4>
		<i>…Prius Walk-In Urgent Care is your answer…</i>
	</h4>

	<%= link_to "Book an appointment now!", "/appointments/new", class: "btn btn-large btn-primary button-link block" %>

</div>