<div class="modal hide fade" id="copayModal" tabindex="-1" role="dialog" aria-labelledby="copayModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">Patient's Co-pay Information</h2>
        </div>
        <div class="modal-body">
            <div class="pull-center">
              <div>
                Co-pay Amount:               
                <h3 class="inline">$35</h3>  
              </div>            
                <p class="btn btn-primary btn-large">
                  Charge!
                </p> 
              
              <!-- Credit Card form -->
              <div>
                  <form class="form-inline">
                    <fieldset>
                      <legend>Cardholder Information</legend>
                        <input type="text" class="input-small" placeholder="First Name">
                        <input type="text" class="input-small" placeholder="Last Name">
                    </fieldset>
                  </form>
                  <form>
                      <label>Credit card number</label>
                        <input type="text" placeholder="Credit card number">
                      <label>CVC Code</label>
                        <input type="text" class="input-small">
                      <label>Expiration date</label>
                        <select class="input-small pull-left">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                        </select>

                        <select class="input-small">
                          <option>2014</option>
                          <option>2015</option>
                          <option>2016</option>
                          <option>2017</option>
                          <option>2018</option>
                          <option>2019</option>
                          <option>2020</option>
                        </select>
                  </form>
              </div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>                   
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>