<div class="modal hide fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">Patient's Registration Information</h2>
        </div>
        <div class="modal-body">
            <h4>Office Forms:</h4>                
            <table class="table">
              <tr>
                  <th>Demographics</th>
                  <td>X</td>
                  <td>100% Complete</td>
                  <td class="ratio">
                    <div class="progress progress-success">
                      <div class="bar" style="width: 100%">
                      </div>
                    </div>
                  </td>
                  <td>Print</td>
              </tr>
              <tr>
                  <th>Medical History</th>
                  <td>X</td>
                  <td>100% Complete</td>
                  <td class="ratio">
                    <div class="progress progress-success">
                      <div class="bar" style="width: 100%">
                      </div>
                    </div>
                  </td>
                  <td>Print</td>
              </tr>
              <tr>
                  <th>Financial Responsibility</th>
                  <td>X</td>
                  <td>100% Complete</td>
                  <td class="ratio">
                    <div class="progress progress-success">
                      <div class="bar" style="width: 100%">
                      </div>
                    </div>
                  </td>
                  <td>Print</td>
              </tr>
              <tr>
                  <th>HIPAA Consent</th>
                  <td></td>
                  <td>40% Complete</td>
                  <td class="ratio">
                    <div class="progress progress-warning">
                      <div class="bar" style="width: 40%">
                      </div>
                    </div>
                  </td>
                  <td>Print</td>
              </tr>
            </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>                   
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>