/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 p, td {
 	color: #273e54;
 }

 .left {
 	float: left;
 }

 .right {
 	float: right;
 }

 .patient-card, .calendar-card {
 	border: 2px solid #c7d7e5;
 	background: #f1f1f4;
 	border-radius: 5px;
 	padding: 5px;
 }

 .calendar-card {
 	min-height: 500px;
 }

 .calendar-card p {
 	margin: 0 0;
 }

 .pad-right {

 }

 .patient-avatar {
 	padding-right: 5px;
 	min-width: 120px;
 }

 .clear {
 	clear: both;
 }

 .inline {
 	display: inline-block;
 }

 #insuranceModal {
 	position: absolute;
 	top: 0px;
 }
 	#insuranceModal .modal-body {
 		max-height: 100%;
 	}

 .ratio {
 	min-width: 200px;
 }
