/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
 	background-color: #eee !important;
 }

 a {
 	color: #0088cc !important;
 }

/* p, td {
 	color: #273e54;
 }
*/
td {
	vertical-align: top;
	padding: 2px 5px;
}
 ul, ol {
 	margin: 0 0 10px 0 !important;
 }

.search-bar {
	height: 30px !important;
	width: 97%;
}

	input.search-bar {
		
	}

.container {

}

.border {
	border: 1px solid #555;
}

 .prius-header {
 	position: relative;
 }

 .sans-bullets {
 	list-style: none;
 }

.button-link {
	color: #fff !important;
}

.balance {
	font-size: 16px;
}

/*.modal-link {
	color: blue;
}*/
 .left {
 	float: left;
 }

 .right {
 	float: right;
 }

.nav-box {
	position: absolute;
	top: 90%;
	/*border: 1px solid red;*/
	height: 10%;
}

.home-box {	
	width: 9%;
}

.location-box {
	position: absolute;	
	right: 18%;	
	width: 13%;
}

.appointments-box {
	position: absolute;	
	right: 0%;
	width: 17%;
}

.nav-box:hover {
	background: rgba(0, 0, 0, 0.2);
}

.patient-card, .calendar-card {
	border: 1px solid #f8f8f8;
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 2px 2px #555;
}

 .calendar-card {
 	min-height: 500px; 	
 }

.block {
 	display: block !important;
 }

 .calendar-card p {
 	margin: 0 0;
 }

.calendar-tab {
 	min-width: 175px;
}

 .inline-list li {
 	display: inline-block;
 }

 .patient-avatar {
 	padding-right: 5px;
 	min-width: 120px;
 }

.clear {
	clear: both;
}

.inline {
	display: inline-block;
}

#insuranceModal, .long-modal {
	position: absolute;
	top: 0px !important;
}
	#insuranceModal .modal-body, .long-modal .modal-body {
		max-height: 100%;
	}

.ratio {
	min-width: 200px;
}

.patient-photo {
	max-height: 100px;
}

.padded, .padded li {
	padding: 0 10px;
}

.divider {
	padding: 0 0;
}

.full-width {
	width: 100%;
}

.no-overflow {
	overflow: hidden;
}

.half-width {
	width: 50%;
}

#patient-info input {
	width: 100%;
}
	#patient-info li {
		margin-right: 10px;
	}

.list-third-length li {
	max-width: 30%;
	margin-right: 10px;
}

.card-width {
	width: 90%;
}

.push-up {
	margin-top: 10px;
}

.push-down {
	margin-bottom: 20px !important;
}

.good {
	font-weight: bold;
	color: green;
}

.bad {
	font-weight: bold;
	color: red;
}

.neutral {
	font-weight: bold;
	color: blue;
}

.white-background {
	background-color: #fff !important;
}
