<%#= form_for(@appointment) do |f| %>
  <%# if @appointment.errors.any? %>
    <!--<div id="error_explanation">
      <h2><%#= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <%# @appointment.errors.full_messages.each do |msg| %>
        <li><%#= msg %></li>
      <%# end %>
      </ul>
    </div>-->
  <%# end %>

  <!--<div class="field">
    <%#= f.label :scheduled_date %><br />
    <%#= f.date_select :scheduled_date %>
  </div>-->

  <!-- *********** BREAD CRUMBS ************* -->

  <!-- <ul class="breadcrumb white-background">
    <li class="active">Schedule <span class="divider">/</span></li>
    <li><a href="#">Confirm</a> <span class="divider">/</span></li>
    <li><a href="#">Book!</a></li>
  </ul> -->

  <h3>Demographic Information</h3>
  <form class="form-inline">
    <h5>Name</h5>
    <input type="text" placeholder="First Name">
    <input type="password" placeholder="Last Name">
  </form>

  <form class="form-inline">
    <h5>Phone Number</h5>
    <input type="text" placeholder="Area Code" class="input-small">
    <input type="text" placeholder="Phone Number">
  </form>


  <h3>Insurance Information</h3>
  <form>
    <h5>Insurance Company</h5>
    <select>
      <option>Aetna</option>
      <option>Blue Cross Blue Shield</option>
      <option>Cigna</option>      
      <option>UHC</option>
      <option>Medicare</option>
      <option>Medicaid</option>
    </select>
  
    <h5>ID Number</h5>
    <input type="text" placeholder="">

    <h5>Group Name</h5>
    <input type="text" placeholder="">

    <h5>Group Number</h5>
    <input type="text" placeholder="">

    <h5>Effective Date</h5>
    <input type="text" placeholder="">
  </form>

  <h3>Appointment Information</h3>
  <form>
    <h5>Preferred Appointment Date</h5>
    <label class="radio inline">
      <input type="radio" id="inlineCheckbox1" value="Monday"> Mon
    </label>
    <label class="radio inline">
      <input type="radio" id="inlineCheckbox2" value="Tuesday"> Tue
    </label>
    <label class="radio inline">
      <input type="radio" id="inlineCheckbox3" value="Wednesday"> Wed
    </label>
    <label class="radio inline">
      <input type="radio" id="inlineCheckbox4" value="Thursday"> Thur
    </label>
    <label class="radio inline">
      <input type="radio" id="inlineCheckbox5" value="Friday"> Fri
    </label>
    <label class="radio inline">
      <input type="radio" id="inlineCheckbox6" value="Saturday"> Sat
    </label>    
  </form>

  <form>
    <h5>Preferred Appointment Time</h5>
    <label class="radio inline">
      <input type="radio" id="inlineCheckbox7" value="Morning"> Morning
    </label>
    <label class="radio inline">
      <input type="radio" id="inlineCheckbox8" value="Afternoon"> Afternoon
    </label>
  </form>


  <!--**************** SPECIFIC APPOINTMENTS *******************-->
  <!--
    <ul class="inline-list">
      <h4>Appointment Date</h4>
    -->

  <!-- MONTH -->
  <!--
      <li>
        <strong>Month</strong></br />
        <select id="appointment_scheduled_time_2i" name="appointment[scheduled_time(2i)]" class="span2">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </li>
    -->

    <!-- DAY -->
    <!--
      <li>
        <strong>Day</strong></br />
        <select id="appointment_scheduled_time_3i" name="appointment[scheduled_time(3i)]" class="span2">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
      </li>
    -->

    <!-- YEAR -->
    <!--
      <li>
        
          <strong>Year</strong></br />
          <select id="appointment_scheduled_time_1i" name="appointment[scheduled_time(1i)]" class="span2">                        
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
          </select>
      </li>

    </ul>
    -->
    <!--
    <ul class="inline-list">
      <h4>Appointment Time</h4>-->

      <!-- HOUR -->
      <!--
      <li>
        <strong>Hour</strong></br />
        <select id="appointment_scheduled_time_4i" name="appointment[scheduled_time(4i)]" class="span2">
          <option value="00">00</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
        </select>
      </li>
      -->
      <!-- MINUTE -->
      <!--
      <li>
        <strong>Minute</strong></br />
        <select id="appointment_scheduled_time_5i" name="appointment[scheduled_time(5i)]" class="span2">
          <option value="00">00</option>
          
          <option value="15">15</option>
          
          <option value="30">30</option>
          
          <option value="45">45</option>
          
        </select>
      </li>
    </ul>
    -->
    <button type="submit" class="btn btn-success btn-large full-width">Appointment Confirmation -></button>

  <!--<div class="field">
    <%#= f.label "Appointment Date & Time" %>
    <%#= f.datetime_select :scheduled_time %>

  </div>

  <div class="field">
    <%#= f.label :arrived %><br />
    <%#= f.check_box :arrived %>
  </div>
  <div class="field">
    <%#= f.label :left %><br />
    <%#= f.check_box :left %>
  </div>
  <div class="field">
    <%#= f.label :arrival_status %><br />
    <%#= f.text_field :arrival_status %>
  </div>
  <div>
    <%#= f.submit "Save Appointment", class: "btn btn-success btn-large" %>
  </div> -->
<%# end %>
