<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
		<title>Your Dashboard</title>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="Styles/SkinClick_Styles.css">
			
</head>
<body id="main"><!-- This begins the Body -->
	<!--<header>
		<ul id="header-content">
			<li id="site-name"><a href="">HappyHealth</a></li>
			<li class="nav-links"><a href="#who-we-are">Who We Are</a></li>
			<li class="nav-links"><a href="#why-happyhealth">Why HappyHealth</a></li>
			<li class="nav-links"><a href="#how-it-works">How it Works</a></li>
		</ul>	
	</header>-->

<!---------------------- MAIN CONTENT ---------------------->

	<div class="container_12">

<!----------------------- PDF FAX BUTTONS ------------------>	



<!----------------------- NAVIGATION TABS ------------------>

<aside>
	<ul id="user-image">
		<li id="specialist-photo">
			<a href="Dashboard.html"><img src="Images/Teresa Nam.jpg" /></a>
		</li>
		<li>
			<h3>Hello Pam</h3>
		</li>				
	</ul>
	<ul id="nav-tab">
		<a href="Create_View Form.html"><li>Create/View Form</li></a>
		<a href=""><li>New Appointment</li></a>
		<a href=""><li>Upcoming Appointment</li></a>
		<a href=""><li>View Doctors</li></a>
		<a href=""><li>Alerts</li></a>		
	</ul>
</aside>


<!---------------------- MAIN FORMS ---------------------->

		<article>
			<h1>Recent Notes</h1>

<!---------------------- PRINT-TO BAR -------------------->

			<ul id="print-to">
				<li class="nextButton"><a href="Dashboard_new_note.html">Add Note</a></li>				
			</ul>

<!-------------------- jQuery TABS ---------------------->

			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">Personal</a></li>
					<li><a href="#tabs-2">Responsible Party</a></li>
					<li><a href="#tabs-3">Emergency</a></li>
					<li><a href="#tabs-4">Insurance</a></li>
					<li><a href="#tabs-5">Medical</a></li>
				</ul>
				<div id="tabs-1">
					 <%= render '/forms/Personal/personal', :f => f %>
				</div>
				<div id="tabs-2">
					<%= render '/forms/Responsible/responsible', :f => f %>
				</div>
				<div id="tabs-3">
					<%= render '/forms/Emergency/emergency', :f => f, :form => @form %>
				</div>
				<div id="tabs-4">
					<%= render '/forms/Insurance/insurance', :f => f, :form => @form %>
				</div>
				<div id="tabs-5">
					<%= render '/forms/Medical/medical', :f => f, :form => @form %>
				</div>
			</div>
			
			<form>
				<fieldset class="demoBackground">
					<legend>Note on 8/12/2012</legend>
						<p>
							Dr. X seen; medications prescribed; new treatment plan ...
						</p>
						<a href="" class="read-more">(Read More)</a >				
				</fieldset>
				<fieldset class="demoBackground">
					<legend>Note on 7/22/2012</legend>	
						<p>Dr. Y seen; referred to new physician, Dr. X</p>
				</fieldset>
				<fieldset class="demoBackground">
					<legend>Note on 12/2/2011</legend>					
						<p>Dr. Y seen; new meds prescribed. Recommended follow-up in 6 months.</p>
				</fieldset>			
			</form>
		</article>

<!---------------------- TEST CODE ------------------------>
	<section class="splash-page">
		<h1 id="splash-title">Welcome to HappyHealth</h1>
	 		<h2 id="subtitle">Concierge Patient Check-in</h2>
			  <p id="splash-text">
			    Simplifying the way you check-in at the doctor's office, and register using your basic personal, medical and insurance information.
			  </p>
		<ul class="explanation">
			<li class="description">
				<h1>Save</h1>
					<p>
						Save your basic personal, medical, and insurance information onto our secure servers, and maintain access via your mobile device.
					</p>
			</li>
			<li class="description">
				<h1>Send</h1>
					<p>
						When you book an appointment, send us the name and phone number of the physician's office, either via the app or SMS.
					</p>
			</li>
			<li class="description">
				<h1>Sync</h1>
					<p>
						Our system intelligently syncs your registration info with the doctor's office, sparing you the clipboards and paperwork.
					</p>
			</li>
		</ul>
	</section>

	<section>
		<div class="functionality"><h3>1.</h3>
<p>
Fill out your HappyHealth online Form profile, which includes pertinent registration data like name, address, phone number, current medications, allergies and credit card number plus insurance information. You will only have to fill-out this information once!
</p>
</div>

<div class="functionality"><h3>2.</h3>
<p>When you schedule a doctor's appointment, send HappyHealth the following via mobile app, text, or the web: 

<ul>
<li><strong>the physician's name</strong></li>
<li><strong>the physician's office phone number</strong></li> 
<li><strong>the appointment date and time</strong></li>
</ul>
</p>
</div>

<div class="functionality"><h3>3.</h3>
<p>
HappyHealth's sophisticated, cloud-based system reconciles your registration information with the doctor's office for you. If there is additional information required, we can notify you via mobile app, text, email or website for you to conveniently update.
</p>
</div>

<div class="functionality"><h3>4.</h3>
<p>
On the day of your appointment, you just walk into the doctor's office, say your name, and have a seat - that's it! No clipboards, excessive paperwork or redundant questioning to deal with. At certain providers you can even have the option of fulfilling your co-pay via the mobile app. It's just that convenient!
</p>
</div>
	</section>

	</body>
</html>