<h2>Calendar</h2>

	<div class="calendar-card">
		<div>
			<strong>Current Date:</strong>
			<p><%= Date.today %></p>
		</div>

		<div>	
			<strong>Current Time:</strong>
			<p><%= Time.now %></p>
		</div>

		<div>	
			<strong>Average Visit Time:</strong>
			<p class="right"><%= Time.now %></p>
		</div>

		<div>	
			<strong>Estimated Total Patients:</strong>
			<p class="right">63</p>
		</div>

		<div>	
			<strong>Actual Patients Seen:</strong>
			<p class="right">4</p>
		</div>

		<div>	
			<strong>Estimated Co-pay Revenue:</strong>
			<p class="right">$2205</p>
		</div>

		<div>	
			<strong>Actual Co-pay Revenue:</strong>
			<p class="right">$140</p>
		</div>

	</div>