<h2>Find Us</h2>

	<div class="calendar-card">
		<div>
			<!--
			<strong>Current Date:</strong>
			<p><%#= Date.today %></p>-->
			<h4>Prius Immediate Care</h4>
		</div>

		<dl>
			<dt>Hours of Operation</dt>
			<dd>Mon: 9-8</dd>
			<dd>Tue: 9-7</dd>
			<dd>Wed: 9-8</dd>
			<dd>Thu: 9-8</dd>
			<dd>Fri: 9-6</dd>
			<dd>Sat: 9-5</dd>

			<br />
			<!--
			<strong>Current Time:</strong>
			<p><%#= Time.now %></p>-->
			<dt>Phone Number</dt>
			<dd>(773) 772-5111</dd><br />
		
			<dt>Fax Number</dt>
			<dd>(773) 772-5114</dd><br />
		
			<!--
			<strong>Average Visit Time:</strong>
			<p class="right"><%#= Time.now %></p>-->
			<dt>Address</dt>
			<dd>
				3650 W. Armitage Ave
				Chicago, IL 60647-3611
			</dd>
		</dl>

		<div>	
			<!--
			<strong>Estimated Total Patients:</strong>
			<p class="right">63</p>-->
			
			<ul class="sans-bullets">
				<li>
					<strong>Map</strong>
				</li>
				<li>
					<a href="/our-location">
						<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=41.917027,-87.718929&zoom=16&size=400x300&maptype=roadmap
	&markers=color:red%7Ccolor:red%7Clabel:A%7C41.917027,-87.718929&sensor=false" %>
					</a>
				</li>
				<!-- Link to Larger Map on separate page
				<li>
					
				</li>-->
			</ul>
		</div><br />

		
			<%= link_to "Book an Appointment!", "/appointments/new", class: "btn btn-large btn-success button-link block" %>
		

		<!-- <div>
			<a href="/appointments/new" class="btn btn-large block">Book an Appointment!</a>
		</div> -->
		

		<!--<div>	
			<strong>Actual Patients Seen:</strong>
			<p class="right">4</p>
		</div>

		<div>	
			<strong>Estimated Co-pay Revenue:</strong>
			<p class="right">$2205</p>
		</div>

		<div>	
			<strong>Actual Co-pay Revenue:</strong>
			<p class="right">$140</p>
		</div>-->

	</div>